* {
	primary: #333333;
	primary-light: #e1f4f3;
	secondary: #706c61;
	secondary-light: #ffffff;
}

.text-field, 
.password-field, 
.button {
	
	-fx-background-color: transparent;
	-fx-text-fill: primary;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: secondary;	
}

.button {
	-fx-pref-width: 120px;
}

.button:hover {
	-fx-background-color: secondary;
	-fx-text-fill: secondary-light;
}

.text-field:focused, 
.password-field:focused {
	-fx-border-width: 1.5px;
	-fx-border-color: primary;
}

.sp10 {
	-fx-spacing: 10px;
}

.sp20 {
	-fx-spacing: 20px;
}

.pad10 {
	-fx-padding: 10px;
}

/** Login View Styles */

.login-view {
	-fx-pref-width: 480px;
	-fx-pref-height: 300px;
	-fx-background-color: secondary-light;
}

.login-view .label {
	-fx-text-fill: primary;
}

.login-view .button-box {
	-fx-alignment: center-left;
	-fx-spacing: 10px;	
}

/** Account Home Style */
.main-frame {
	-fx-pref-width: 1180px;
	-fx-pref-height: 780px;
	-fx-background-color: secondary-light;
}

.main-frame > .main-header {
	-fx-background-color: primary;
}


/** Header */
.header {
	-fx-background-color: primary;
	-fx-padding: 20px;
}

.header > .label {
	-fx-text-fill: secondary-light;
	-fx-font-size: 24px;
}

/** Content View */
.content-view {
	-fx-pref-width: 1180px;
	-fx-pref-height: 711px;
	-fx-max-width: 3000px;
	-fx-max-height: 3000px;
	-fx-spacing: 10px;
	-fx-padding: 10px;
	-fx-background-color: secondary-light;
}

/** Icon Menu */

.icon-menu {
	-fx-alignment: bottom-center;
	-fx-pref-width: 90px;
	-fx-spacing: 5px;
	-fx-padding: 12;
}

.icon-menu:hover {
	-fx-background-color: secondary;
	-fx-cursor: hand;
}

.icon-menu > .label,
.icon-menu > SVGPath {
	-fx-text-fill: secondary-light;
	-fx-fill: secondary-light;
}

/** Small Column */
.small-column {
	-fx-pref-width: 420px;
}

/** Area */
.area  > .header {
	-fx-border-style: solid;
	-fx-border-width: 0 0.0 1 0;
	-fx-border-color: secondary;
}

.area > .header {
	-fx-background-color: primary-light;
	-fx-padding: 10px;
}

.area > .header .label{
	-fx-text-fill: primary;
	-fx-font-size: 14px;
}


